.header {
    font-size: 1.4rem;
    text-align: center;
    margin: 1rem;
}
.newsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
