* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica";
    font-size: 16px;
}
body {
    background-color: #252424;
    color: whitesmoke;
}
.header {
    text-align:center;
    font-size: 3rem;
    margin: 1rem 0px;
    color:rgb(87, 132, 255);
    filter:drop-shadow(2px 2px 4px blue);
    animation: glow 4s  linear infinite;
}


@keyframes glow {
    0% {
        filter: drop-shadow(2px 2px 2px blue);
    }
    25% {
        filter: drop-shadow(2px 2px 2px rgb(19, 241, 49))
    }
    50% {
        filter: drop-shadow(2px 2px 2px rgb(222, 236, 20))
    }
    75% {
        filter: drop-shadow(2px 2px 2px rgb(247, 97, 28))
    }
    100% {
        filter: drop-shadow(2px 2px 4px blue);
    }
}
